* {
    font-family: "SF Pro Display", "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
    /* includes all except margin in width, height. Way better than default */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: no-repeat;
    background-color: white;
}

/* Setup the header bar nav items using flex to make name left, nav right */
header {
    list-style: none;
    margin: 0;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
    color: #9e9fa4;
    border-bottom: 2px solid #cccccc;
}

.title {
    padding: 0 30px 0 30px;
    background: #4aaaa5;
    color: #ffffff;
}

.navigation {
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.line {
    border-right:1px solid #9e9fa4;   /* line 1 pixel width, length of "Some content" */
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 0 1em 0 1em;
    color: #9e9fa4;
}


.navigation a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation {
    justify-content: space-around;
}
